.specBanner {
    min-height: 50px;
    padding: 8px 7%;
    border-bottom: 2px solid #efefef;
    margin-top: -15px;
    background: #ff8f13;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.specBanner p a {
    font: normal normal 400 16px/16px 'locator_regularregular';
    text-decoration: underline;
    color: #000;
}

.specBanner p a:hover {
    color: #444;
}

.specBanner p {
    margin: 10px 0;
    font: normal normal 400 16px/16px 'locator_regularregular' !important;
    display: inline-block;
    color: #000;
}

.specBanner i {
    font-family: FontAwesome;
    font-size: 44px;
    margin: -6px 18px 0 0;
    color: #000;
}


@media only screen and (max-width: 415px) {

    .specBanner p,
    .specBanner a {
        padding-top: 10px;
        margin-top: 0px;
        font: normal normal 400 18px/20px 'locator_regularregular' !important;
    }

    .specBanner i {
        margin: 6px 10px 0 0;
    }

    .specBanner {
        padding: 0 0 0 10px;
    }
}

.stackMenu {
    /*** Hamburger Menu Navigation ***/
    width: 40px;
    height: 40px;
    margin-right: 0;
    padding: 8px;
    box-sizing: border-box;
    float: left;
    font-size: 26px;
}

.stackMenu span:hover,
#search-icon-container span:hover {
    cursor: pointer;
}

.nav-upperOutterContainer {
    display: table;
}

h2.subSiteHeading,
h2.subSiteHeading a {
    font: normal 400 53px/1em "Knockout 47 A", "Knockout 47 B";
    margin: -10px 13px 0 0px;
}

/*** Mega Menu Navigation ***/

#megaMenuBar {
    background-image: linear-gradient(90deg, #007741 0%, #51A744 100%);
    display: none;
    box-shadow: inset 0 3px 2px 0px rgba(0, 0, 0, 0.1);
}

#mega-menu > li {
    list-style-type: none;
    display: block;
    margin: 0;
    width: 100%;
}

#mega-menu a.droplevelOne {
    padding: 16px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'locator_regularregular';
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1.9px;
    display: block;
}

span.col-head {
    text-transform: uppercase;
    font-family: 'locatorbold';
    font-size: 16px;
    color: #007741;
    padding: 10px 0px 10px 16px;
    display: block;
}

#mega-menu .droplet .col {
    display: block;
    background-color: #fff;
    vertical-align: top;
    padding: 10px;
    text-align: left;
}

#mega-menu .droplet .col ul {
    margin: 0 auto;
    list-style-type: none;
}

#mega-menu .droplet .col ul li {
    margin: 12px auto;
}

#mega-menu .droplet .col a {
    display: block;
    color: #000000;
    padding: 0 24px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.col span:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*** Search Bar ***/

#search-icon-container {
    float: right;
    padding: 10px 10px 0px 10px;
}

#search-icon-container span {
    font-size: 25px;
}

#searchBar {
    background-color: #f1f1f2;
    display: none;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
}

#searchBar .fa.searchIcon {
    margin-right: 18px;
    font-size: 28px;
    color: #007741;
}

#wideSearchContainer {
    padding: 25px 0 25px 0;
    text-align: center;
}

#navCTA-group-wrapper {
    float: right;
}

/*** End Search Bar ***/

/*** Begin Home Hero Content - Redesign ***/



#headText {
    /***  font: font-style font-weight font-size/line-height font-family; ***/
    font: normal 400 18vw/18vw "Knockout 47 A", "Knockout 47 B";
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    z-index: 50;
    position: absolute;
    top: 32%;
    opacity: 1;
    text-shadow: 1.2px 3px 4px rgba(0, 0, 0, .84);
}

#headText:hover {
    opacity: 0.3;
}

#headText span.animMark {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

#headText span.animUnderline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1vw;
    bottom: -18px;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    transform-origin: left;
    display: inline-block;
    transition: transform 1500ms cubic-bezier(0.835, 0.405, 0.865, 0.620) 1000ms;
    /* property name | duration | timing function | delay */
    transform: scaleX(0);
    filter: drop-shadow(3px 4px 4px rgb(0, 0, 0, .8));
}

#headText span.animMark::before {
    transform: scaleX(1.0);
}

.headImgTextQuoLabel {
    font-size: 1.1vw;
    line-height: 1.2vw;
    margin-bottom: 4em;
}

.blockQuoLink {
    font: normal normal 400 1.2vw/1.6vw 'locator_regularregular';
    letter-spacing: .08em;
    text-transform: uppercase;
    padding: 10px 16px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #FFFFFF;
    background-color: rgba(5, 119, 65, .95);

}

.blockQuoLink:hover {
    background-color: rgba(97, 184, 83, 1);
    background-image: radial-gradient(50% 129%, rgba(97, 184, 83, .0) 29%, rgba(97, 184, 83, .22) 50%, rgba(0, 0, 0, .2) 100%);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .24);
    text-decoration: none;
    cursor: pointer;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);
}

.carousel-caption div.blockQuoLink a {
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
}

.carousel-ca625ption div.blockQuoLink a:hover {
    text-decoration: none;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, .76);
}


.carousel-caption div.blockQuoLink a:hover {
    text-decoration: none;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, .86);

}

blockquote.headImgTextQuotes {
    display: block;
    margin: 2.25em 0 1.12em 0;
}

blockquote.headImgTextQuotes::before {
    content: '\201C';
    position: absolute;
    top: 0;
    left: 10%;
    transform: translate(-50%, 0%);
    width: 3rem;
}

.carousel-caption {
    top: 5%;
    font-family: locatorbold;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
    right: 5%;
    left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3);
}

/*.carousel-item {
    height: 580px;
}*/

.carousel-item img {
    width: 100%;
}

.carousel-item img.w-100 {
    margin-top: -45px;
}

.carousel-caption a {
    color: #FFFFFF;
    text-decoration: underline;
}

.carousel-indicators li {
    box-sizing: content-box;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-left: 5px;
    text-indent: -999px;
    background-color: #61B853;
    opacity: 1;
    border-radius: 5px;
    border: 0;
}

.carousel-indicators li.active {
    background-color: #FFFFFF;
}


/*** Begin Campus Tour Images Section - Redesign ***/

#ModalBar {
    display: flex;
    /* establish flex container */
    flex-direction: row;
    /* make main axis horizontal (default value) */
    justify-content: center;
    /* center items horizontally, in this case */
    align-items: center;
    /* center items vertically, in this case */
    /***  font: font-style font-weight font-size/line-height font-family; ***/
    font: normal 400 6vw/8vw "Knockout 47 A", "Knockout 47 B";
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    min-height: 90px;
    overflow: hidden;
}

.campFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 3vw 0 3vw 0;
    margin: auto;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    background-size: 120%;
    min-height: 90px;
    height: 22vw;
    max-height: 380px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-size .8s ease-in-out;
    -moz-transition: background-size .8s ease-in-out;
    -ms-transition: background-size .8s ease-in-out;
    -o-transition: background-size .8s ease-in-out;
    -webkit-transition: background-size .8s ease-in-out;
}

.campFrame:hover {
    background-size: 130%;
    text-decoration: underline;

}

.campFrame::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: radial-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0.6));
}

.campFrame h3 {
    position: relative;
    color: #FFFFFF;
    font: normal 400 6vw/6vw "Knockout 47 A", "Knockout 47 B";
    text-shadow: 1.2px 4px 4px rgba(0, 0, 0, .94);
}

.carouselPicFrame {
    max-height: 440px;
    overflow-y: hidden;
    margin: 12px 0;
}

.carousel-item h4 {
    margin-bottom: .25em;
    /*    font: normal normal 400 20px/22px locatorbold;*/
}

.carousel-item p {
    /*    font: normal normal 400 14px/23px 'locator_regularregular';*/
}

#carouselChicagoCampus ol.carousel-indicators,
#carouselSuburbanCampuses ol.carousel-indicators {
    display: inline-block;
}

.textSection {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 4vw 0 4vw 0;
    width: 100%;
}

.textSection.gradient-bottom:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0) 14%, rgba(0, 0, 0, .34) 70%, rgba(0, 0, 0, .85) 100%);
}

.textSection .sectionHeading {
    font: normal 400 8vw/7vw "Knockout 47 A", "Knockout 47 B";
    text-transform: uppercase;
    position: relative;
}

.textSection h1.sectionHeading {
    font: normal 400 15vw/15vw "Knockout 47 A", "Knockout 47 B";
}

h4.ctaBoxHeading {
    /*font: normal 400 4vw/2vw "Knockout 47 A", "Knockout 47 B";*/
    color: #51a744;
    text-transform: capitalize;
    margin: 1vw 1vw 2vw 1vw;
    text-align: left;
}


.textSection .sectionDescription {
    font-size: 18px;
    line-height: 29px;
    position: relative;
}

.textSection .sectionDescription p {
    margin: 0 0 1em 0;
}

.textSection .sectionHeading.light,
.textSection .sectionDescription.light {
    color: #FFFFFF;
    text-shadow: 1.2px 4px 4px rgba(0, 0, 0, .94);
}

.textSection .sectionHeading.dark,
.textSection .sectionDescription.dark {
    color: #000000;
}

.textSection .sectionHeading.light-green,
.textSection .sectionDescription.light-green {
    color: #afd9a1;
}

.textSection .sectionHeading.medium-green,
.textSection .sectionDescription.medium-green {
    color: #51a744;
}

.textSection .sectionHeading.dark-green,
.textSection .sectionDescription.dark-green {
    color: #007741;
}

.ImageHeadDesc {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.ImageHeadDesc:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0) 14%, rgba(0, 0, 0, .34) 70%, rgba(0, 0, 0, .85) 100%);
}

.callToActionWrapper {
    display: block;
    width: 100%;
}

.callToAction {
    padding: 20px 32px;
    margin: 1vw 0vw 1vw 10vw;
    border: 2px solid white;
    display: inline-block;
    position: relative;
    background-color: rgba(5, 119, 65, .95);
    letter-spacing: .08em;
}

.callToAction:hover {
    background-color: rgba(97, 184, 83, 1);
    background-image: radial-gradient(50% 129%, rgba(97, 184, 83, .0) 29%, rgba(97, 184, 83, .22) 50%, rgba(0, 0, 0, .2) 100%);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .24);
    text-decoration: none;
    cursor: pointer;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);
}

.callToAction a {
    color: white;
    text-transform: uppercase;
}


.callToAction a:hover {
    text-decoration: none;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, .76);
}


.callToAction.center {
    margin: 1vw auto 0;
    display: table;
}

.ctaBoxes .callToAction {
    margin: 6px 1vw 26px 1vw;
}

.mediaBox {
    border: 2px solid outset rgba(4, 0, 2, .6);
    display: block;
    position: relative;
    width: 48%;
}

.mediaBox img {
    max-width: 100%;
    max-height: 500px;
}

.mediaBox iframe {
    border: 1px solid rgba(14, 119, 65, .4);
    position: relative;
    cursor: pointer;
    z-index: 50;
}

.mediaBox iframe:hover {
    border: 2px solid rgba(14, 119, 65, .8);
}

#FullBleedInput {
    text-align: center;
    padding: 20px 0 20px 0;
}

.ctaBar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}

.ctaBar div {
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
}

.ctaBar div:nth-child(6n+1),
.ctaBar div:nth-child(6n+6) {
    background: #007741;
}

.ctaBar div:nth-child(6n+2) {
    background: #61b853;
}

.ctaBar div:nth-child(6n+3) {
    background: #afd9a1;
}

.ctaBar div:nth-child(6n+4) {
    background: #61b853;
}

.ctaBar div:nth-child(6n+5) {
    background: #afd9a1;
}

.ctaBar div:nth-child(6n+1) *,
.ctaBar div:nth-child(6n+6) *,
.infoBoxes div:nth-child(6n+1) *,
.infoBoxes div:nth-child(6n+1) h4,
.infoBoxes div:nth-child(6n+6) *,
.infoBoxes div:nth-child(6n+6) h4 {
    color: #FFFFFF;
}

.ctaBar div:nth-child(6n+2) *,
.ctaBar div:nth-child(6n+3) *,
.ctaBar div:nth-child(6n+4) *,
.ctaBar div:nth-child(6n+5) *,
.infoBoxes div:nth-child(6n+2) .infoBoxDescription,
.infoBoxes div:nth-child(6n+3) .infoBoxDescription,
.infoBoxes div:nth-child(6n+4) .infoBoxDescription,
.infoBoxes div:nth-child(6n+5) .infoBoxDescription {
    color: #000000;
}

.ctaBar a {
    padding: 20px 0 20px 0;
    font-size: 1.2em;
}

.infoBoxes,
.ctaBoxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    margin-top: 2vw;
}

.infoBoxes .infoCard,
.ctaBoxes .ctaCard {
    padding: 0 2vw 0 2vw;
    text-align: left;
    top: 0;
    left: 0;
    opacity: 1;
    margin-bottom: 2vw;
    border-right: 2px solid #CFCFCF;
    display: block;
    position: relative;
}

.infoBoxes .infoCard:last-of-type,
.ctaBoxes .ctaCard:last-of-type {
    border-right: none;
}

.infoBoxes .infoCard h4.infoBoxHeading {
    /*font: normal normal 400 4.4vw/4vw "Knockout 47 A", "Knockout 47 B";*/
    text-align: center;
    text-transform: capitalize;
    margin-top: -10.5vw;
    position: relative;
    color: #FFFFFF;
}


.infoCard a div.cardPicFrame {
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
}

.infoCard a div.cardPicFrame:hover {
    filter: none;
    /* IE6-9 */
    -webkit-filter: grayscale(0);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(0);
    /* Microsoft Edge and Firefox 35+ */
}


.infoBoxes .infoCard div.infoBoxDescription {
    text-align: center;
    position: relative;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}

.infoBoxes .infoCard div.infoBoxDescription p {
    font: normal normal normal 18px/26px locator_regularregular !important;
    margin: 0 0 .5em 0;
}

.infoBoxes .infoCard div.cardPicFrame {
    position: relative;
}

.infoBoxes .infoCard div.cardPicFrame::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 86%, rgba(0, 0, 0, 0.8) 100%);
}

.infoBoxes .infoCard a {
    text-decoration: none;
}

.infoBoxes img,
.ctaBoxes img {
    width: 100%;
    padding: 0vw;
}

.infoBoxes > div,
.ctaBoxes > div {
    text-align: left;
}

.infoBoxes .infoBoxHeading {
    color: #FFFFFF;
    text-shadow: 1.2px 4px 4px rgba(0, 0, 0, .94);
}

.infoBoxes div .infoBoxDescription,
.ctaBoxes div .ctaBoxDescription {
    text-align: left;
}

.ctaBoxes div .ctaBoxDescription {
    margin: 0 1vw;
    font: normal normal normal 12px/16px locator_regularregular;
}

.ctaBoxes div .ctaBoxDescription p {
    font: normal normal normal 16px/22px locator_regularregular;
}

.infoBoxes div .infoBoxDescription {
    margin: 2vw;
    padding: 1vw;
}

.infoBoxes div:nth-child(6n+1) .infoBoxDescription,
.infoBoxes div:nth-child(6n+6) .infoBoxDescription {
    background: #007741;
}

.infoBoxes div:nth-child(6n+2) .infoBoxDescription {
    background: #61b853;
}

.infoBoxes div:nth-child(6n+3) .infoBoxDescription {
    background: #afd9a1;
}

.infoBoxes div:nth-child(6n+4) .infoBoxDescription {
    background: #61b853;
}

.infoBoxes div:nth-child(6n+5) .infoBoxDescription {
    background: #afd9a1;
}



/*** Events Section ***/


#eventSection {
    width: 100%;
    text-align: left;
    position: relative;
    padding: 0;
    margin: 80px auto;
}

#eventSection .eventRow .infoCard {
    width: 100%;
    display: block;
    text-align: center;
}

#eventSection > .eventRow .infoCard div.cardPicFrame {
    padding: 0;
}


#eventSection div.cardPicFrame img {
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#eventSection .eventRow .infoCard div.eventDescription {
    color: #000000;
    text-align: left;
    background: none;
    padding: 6px 20px;
}

#eventSection .eventRow .infoCard div.eventDescription p {
    margin: 0;
    font: normal normal normal 18px/24px locator_regularregular;
}

#eventSection .eventRow .infoCard div.eventDescription p.eventSpecs {
    color: grey;
    font: italic normal normal 18px/24px locator_regularregular;
}

#eventSection .eventRow .infoCard div.eventDescription p.eventTime {
    color: darkgrey;
    font: normal normal normal 12px/19px locatorbold;
}

.eventDescription label.eventDate {
    font: normal normal 400 44px/46px "Knockout 47 A", "Knockout 47 B";
    color: #007744;
    min-width: 200px;
}

.eventDescription h4,
.eventDescription h4 a {
    /*    font: normal normal 400 2.8vw/2.5vw "Knockout 47 A", "Knockout 47 B";*/
    color: #000000;
    margin-bottom: 8px;
}

.eventRow {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#eventSection .eventRow {
    margin: 0 auto;
    width: 95%;
}

#eventSection h2.sectionHeading {
    font: normal normal normal 18px/24px locatorbold;
    text-transform: uppercase;
    position: absolute;
    left: -14%;
    top: 0;
    z-index: 20;
    padding: 10px 0;
    letter-spacing: .028vw;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    text-align: left;
    width: auto;
    height: 0;
}

/*** Campus Tour Modal box ***/

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 4vw;
    height: 4vw;
    filter: drop-shadow(3px 4px 4px rgb(0, 0, 0, .8));
}

.carousel-control-next,
.carousel-control-prev {
    height: 226px;
    top: 20px;
    max-height: 440px;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, .12) 50%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
    opacity: .7;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    background-color: rgba(0, 0, 0, 0.0);
    background-image: linear-gradient(rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 100%);
}


/***END Campus Tour Images Section - Redesign ***/

/*** Modal CSS ***/
.modal-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 1em;
    z-index: 1000;
    overflow-y: auto;
}

.modal-wrapper .modal-content {
    background-color: #fff;
    z-index: 100;
    padding: 2em;
    position: relative;
    /* changed from static  */
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 414px;
    margin: 0 auto;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    border: 2px solid #FFF;
}

.screenreader-text {
    position: absolute;
    left: -999px;
    width: 1px;
    height: 1px;
}

.modal-content h3 {
    color: #444;
    max-width: 90%;
    float: left;
}

.embed-responsive.embed-responsive-16by9 {
    border: 10px outset black;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

button.closeModal {
    padding: 0;
    width: 52px;
    height: 52px;
    border-radius: 26px;
    font-size: 2em;
    font-weight: 700;
    line-height: 1em;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
    position: absolute;
    top: -14px;
    right: -10px;
    background-color: #cfcfcf;
    text-align: center;
    border: 2px solid #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

/*** End Modal Window ***/

.infoBoxes {
    background: #D8D8D8;
    background: rgba(97, 184, 83, 0.00);
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .1) 33%, rgba(255, 255, 255, .1) 66%, rgba(0, 0, 0, .12) 100%);
}

.modal2-trigger,
.modal-trigger {
    text-decoration: none;
}

.modal2-trigger:hover,
.modal-trigger:hover {
    text-decoration: underline;
}




/***************************************************************/
/***************************************************************/
/*** Media Queries ***/
/***************************************************************/
/***************************************************************/

/* Mobile Device ONLY  */
@media all and (max-width: 414px) {
    #carouselWithCaptions {
        display: block;
    }

    #carouselWithCaptions a {
        z-index: 100;
        height: 33%;
        background-color: none;
        border-radius: 6px;
        margin: auto 0;
    }

    .carousel-control-prev {
        margin-left: -7px !important;
    }

    #eventSection h2.sectionHeading {
        font: normal normal normal 24px/28px locatorbold;
        position: relative;
        left: 10px;
        top: -20px;
        padding 10px 10px:
            transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
        text-align: left;
        width: auto;
        height: 100%;
    }

    #eventSection .eventRow .infoCard div.eventDescription {
        padding: 6px 10px 9px 0px;
    }


    .eventDescription h4 {
        /*        font: normal normal 400 34px/36px "Knockout 47 A", "Knockout 47 B";*/
        color: #000000;
    }

    .eventDescription h4,
    .eventDescription h4 a {
        /*        font: normal normal 400 34px/36px "Knockout 47 A", "Knockout 47 B";*/
        color: #000000;
    }

    .carousel-control-next {
        margin-right: -7px !important;
    }

    #headImgText {
        display: none;
    }

    #headText {
        /***  font: font-style font-variant font-weight font-size/line-height font-family; ***/
        font: normal normal 400 37vw/30vw "Knockout 47 A", "Knockout 47 B";
        text-align: left;
        top: 22%;
        left: 16%;
        opacity: 1;
        width: min-content;
        max-width: 1px;
    }

    .carousel-inner .carousel-item:focus > .carousel-caption,
    .carousel-inner .carousel-item > .carousel-caption-active {
        opacity: 0.9;
        cursor: pointer;
    }

    .carousel-inner .carousel-caption {
        position: absolute;
        width: auto;
        opacity: 0;
        transition: .5s ease;
        background-image: linear-gradient(0deg, #007741 0%, #51A744 100%);
        z-index: 100;
        bottom: unset;
        min-height: 460px;
    }

    .carousel-caption button.closeQuoteBox {
        background-color: rgba(255, 255, 255, 0.46);
        font: normal normal normal 16px/16px FontAwesome;
        float: right;
        color: #007744;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: 0;
        margin: -8px -6px 4px 4px;
    }

    blockquote.headImgTextQuotes {
        display: block;
        font: normal normal 400 26px/27px locatorbold;
        margin: 2.25em 0 1.12em 0;
    }

    blockquote.headImgTextQuotes:before {
        font: 3.3em locatorbold;
        width: unset;
    }

    .headImgTextQuoLabel {
        font: normal normal 400 15px/16px locatorbold;
        margin-bottom: 2em;
    }

    .blockQuoLink {
        font: normal normal 400 14px/16px 'locator_regularregular';
        letter-spacing: .1em;
        text-transform: uppercase;
        padding: 6px 20px;
        text-align: center;
        vertical-align: middle;
        border: 2px solid #FFFFFF;
    }

    .blockQuoLink a {
        text-decoration: none;
    }


    /*** Campus Tour Mobile only ***/

    #ModalBar {
        background-color: #df1582;
        min-height: 100px;
        flex-direction: column;
    }

    .campFrame {
        height: 240px;
        min-height: 240px;
    }

    .campFrame h3 {
        font: normal 400 16vw/18vw "Knockout 47 A", "Knockout 47 B";
    }

    .textSection {
        display: block;
        overflow: hidden;
    }

    .textSection .sectionHeading {
        font: normal 400 22vw/18vw "Knockout 47 A", "Knockout 47 B";
    }

    .textSection h1.sectionHeading {
        font: normal 400 26vw/24vw "Knockout 47 A", "Knockout 47 B";
    }

    .textSection.stack h1.sectionHeading.center {
        width: 100%;
        padding: 1vw 5vw 2vw 5vw;
        text-align: center;
    }

    .textSection .sectionHeading,
    .textSection .sectionDescription {
        width: 100%;
        padding: 20px;
        margin: 0;
    }

    .callToAction {
        margin: 0 0 20px 20px;
    }

    .mediaBox {
        margin: 0 auto 20px;
        position: relative;
        width: 95%;
    }

    .ctaBar {
        display: block;
    }

    h3.ctaBoxHeading {
        font: normal 400 12vw/10vw "Knockout 47 A", "Knockout 47 B";
        letter-spacing: .01em
    }

    .infoBoxes .infoCard {
        border-right: none;
    }

    .infoBoxes .infoCard h4.infoBoxHeading {
        /*        font: normal normal 400 12vw/12vw "Knockout 47 A", "Knockout 47 B";      */
        margin-top: -22vw;
    }

    .infoBoxes .infoCard p {
        font: normal normal normal 15px/22px locatorbold;
    }

    .infoBoxes .infoCard div.infoBoxDescription h5 {
        margin-bottom: 0.5vw;
        font: normal normal normal 22px/28px locatorbold;
    }

}



@media all and (min-width: 415px) {

    #carouselWithCaptions {
        display: none;
    }

    .carousel-caption {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0);
    }

    blockquote.headImgTextQuotes {
        display: block;
        font: normal normal 400 2.125vw/2.3vw locatorbold;
        margin: 2.25em 0 1.12em 0;
    }

    blockquote.headImgTextQuotes:before {
        font: 3.3em/1em locatorbold;
        width: unset;
    }

    .headImgTextQuoLabel {
        font: normal normal 400 1.5vw/1.8vw locatorbold;
        margin-bottom: 2em;
    }

    #headImgText {
        position: relative;
    }

    #headText span.animUnderline::before {
        bottom: -4px;
    }

    .img-box {
        position: relative;
        display: table-cell;
    }

    .img-box img {
        display: block;
        width: 100%;
        height: auto;
    }

    .img-box:hover > .overlay,
    .img-box > .overlay-active {
        opacity: 0.9;
        cursor: pointer;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-image: linear-gradient(0deg, rgba(0, 20, 10, .9) 0%, rgba(0, 119, 65, 0.96) 26%, rgba(81, 167, 68, 0.96) 66%);
        z-index: 100;
    }

    .mediaBox.left {
        position: absolute;
        left: 3vw;
        top: 5vw;
    }

    .mediaBox.center {
        width: 80%;
        margin: 0 auto 2vw;
        max-width: 1000px;
    }

    .mediaBox.right {
        right: 3vw;
        top: 5vw;
        position: absolute;
    }

    .callToActionWrapper.right {
        width: 50%;
        display: table;
        margin-left: auto;
    }

    .callToActionWrapper.right .callToAction.right {
        margin: 0 5vw 0 5vw;
    }

    /* Text Section Split */
    .textSection.split {
        display: inline-block;
    }

    .textSection.split .sectionHeading {
        width: 50%;
        padding: 1vw 2.5vw 1vw 10vw;
        float: left;
    }

    .textSection.split .sectionDescription {
        width: 50%;
        padding: 1vw 10vw 1vw 2.5vw;
        float: right;
    }

    .textSection.split .sectionDescription.left {
        padding: 1vw 2.5vw 1vw 10vw;
    }

    .textSection.split .sectionHeading.right {
        float: right;
        padding: 1vw 5vw 1vw 0vw;
    }

    .textSection.split {
        display: inline-block;
    }

    .textSection.split .sectionHeading {
        width: 50%;
        padding: 1vw 2.5vw 1vw 10vw;
        float: left;
    }

    .textSection.split .sectionDescription {
        width: 50%;
        padding: 1vw 10vw 1vw 2.5vw;
        float: right;
    }

    .textSection.split .sectionDescription.left {
        padding: 1vw 2.5vw 1vw 10vw;
    }

    .textSection.split .sectionHeading.right {
        float: right;
        padding: 1vw 5vw 1vw 0vw;
    }

    /* END Text Section Split */


    /* Text Section Stack */

    .textSection.stack {
        display: block;
    }

    .textSection.stack .sectionHeading.center {
        width: 100%;
        padding: 1vw 5vw 2vw 5vw;
        text-align: center;
    }

    .textSection.stack .sectionDescription.center {
        width: 100%;
        padding: 1vw 5vw 1vw 5vw;
        text-align: center;
        margin: 0 auto;
        max-width: 1400px;
    }

    .textSection.stack .sectionHeading.left {
        width: 50%;
        padding: 1vw 5vw 1vw 10vw;
        text-align: left;
    }

    .textSection.stack .sectionDescription.left {
        width: 50%;
        padding: 1vw 5vw 1vw 10vw;
        text-align: left;
    }

    .textSection.stack .sectionHeading.right {
        width: 50%;
        padding: 1vw 10vw 1vw 5vw;
        text-align: left;
        margin-left: auto;
    }

    .textSection.stack .sectionDescription.right {
        width: 50%;
        padding: 1vw 10vw 1vw 5vw;
        text-align: left;
        margin-left: auto;
    }

    /* END Text Section Stack */

    .ctaBoxes div.ctaCard:nth-child(even) > img {
        position: absolute;
        bottom: 0;
        width: -moz-available;
        margin-right: 0vw;
        overflow: none;
        width: stretch;
        -webkit-padding-end: 2vw;
        padding-right: 2vw;
    }

    .ctaBoxes div.ctaCard:nth-child(2n) > img {
        position: absolute;
        bottom: 0;
        width: -moz-available;
        margin-right: -2vw;
        overflow: none;
        width: stretch;
        -webkit-padding-end: 2vw;
        padding-right: 4vw;
    }

    /* Begin Event Section */

    #eventSection {
        width: 100%;
        text-align: left;
        position: relative;
        padding: 0;
        margin: 4vw auto;
    }


    #eventSection > .eventRow .infoCard div.cardPicFrame {
        float: left;
        text-align: left;
        width: inherit;
        max-width: 250px;
        padding: 0 1vw 0 0;
        max-height: 156px;
        overflow: hidden;
        margin-bottom: 1vw;
        height: 100%;
        display: flex;
    }

    .eventDescription label {
        font: normal normal 400 3vw/4vw "Knockout 47 A", "Knockout 47 B";
        color: #007744;
    }




    .eventDescription p {
        font: normal normal normal 14px/24px locator_regularregular;
        padding: 10px 0 0 0;
    }

    #eventSection .eventRow .infoCard div.eventDescription {
        padding: 0 1.6vw 1vw 0;
    }


    #eventSection .eventRow {
        margin: 0 auto;
        width: 86%;
        padding-left: 3%;
    }

    #eventSection h2.sectionHeading {
        font: normal normal normal 15px/20px locator_regularregular;
        position: absolute;
        left: -2vw;
        top: calc(4vw + 4px);
        z-index: 20;
        letter-spacing: .03vw;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active),
@supports (-ms-accelerator:true) or (-ms-ime-align:auto) {

    /* All CSS is here */
    .ctaBoxes div.ctaCard:nth-child(even) > img {
        position: relative;
        bottom: unset;
    }
}

@media all and (max-width: 1099px) {

    #mega-menu > li {
        border-bottom: 1px solid white;
    }

    #mega-menu .droplet {
        margin: 0;
    }

    ul#mega-menu li .openChild {
        width: 45px;
        height: 30px;
        cursor: pointer;
        font-family: 'FontAwesome';
        font-size: 24px;
        line-height: 30px;
        margin-top: -12px;
        float: right;
        text-align: center;
    }

    ul#mega-menu ul.droplet .openChild {
        width: 45px;
        height: 30px;
        cursor: pointer;
        font-family: 'FontAwesome';
        font-size: 20px;
        line-height: 24px;
        float: right;
        text-align: center;
        margin: -6px 8px 0 0;
    }

    #mega-menu .droplet .col {
        border-bottom: 2px solid #EEE;
    }

    #mega-menu > a {
        text-decoration: none !important;
    }

    ul#mega-menu li .openChildInner:before {
        content: "\f0da";
    }

    ul#mega-menu li.active > .openChild .openChildInner:before,
    ul#mega-menu li.active > a .openChild .openChildInner:before,
    ul#mega-menu span.active > .openChild .openChildInner:before {
        content: "\f0d7";
    }

    ul#mega-menu li ul li.active > a .openChild {
        background: #aaa;
    }

    ul#mega-menu li ul li.active > a .openChild .openChildInner:before {
        color: #fff;
    }
}

/* Desktops and laptops and tablets  */
@media only screen and (min-width:1100px) {

    /*** Home Hero ***/


    .carousel-caption {
        box-shadow: none;
        min-height: 66%;
    }


    #headText {
        font-size: 16vw;
    }


    .stackMenu {
        margin-right: 30px;
    }

    /*** END Home Hero (Desktop) ***/


    /*** Main Navigation ***/
    #mega-menu {
        width: 86%;
        margin: 0 auto;
    }


    .stackMenu span {
        font-size: 32px;
    }

    .fa.fa-toggle-down {
        margin-left: 20px;
    }

    #mega-menu *:focus {
        outline: 4px solid #104BA9;
    }

    #mega-menu a.droplevelOne {
        padding: 16px 0px;
        width: auto;
        white-space: nowrap;
    }

    #mega-menu > li.has-drop.active > a {
        border-bottom: 10px solid #61B853;
        z-index: 1000;
        margin-bottom: -4px;
        font-weight: bold;
    }


    #mega-menu .droplet {
        display: none;
        outline: 3px solid #ccc;
        position: absolute;
        left: 0;
        background-color: #fff;
        width: 100%;
        padding: 16px 7% 34px;
        z-index: 999;
        overflow-y: auto;
    }

    span.col-head {
        padding: 0;
        font-size: 14px;
        text-transform: uppercase;
        color: #007741;
        margin-bottom: 1.4em;
        padding-bottom: 8px;
        border-bottom: 4px solid rgba(185, 187, 190, .54);
    }

    #mega-menu .droplet .col {
        display: table-cell;
        background-color: #fff;
        vertical-align: top;
        margin: 0 auto;
        padding: 10px;
        text-align: left;
        width: 18%;
    }

    #mega-menu .droplet .col ul {
        margin: 0 auto;
        list-style-type: none;
    }

    #mega-menu .droplet .col ul li {
        margin: 0 auto;
    }

    #mega-menu .droplet .col a {
        /***  font: font-style font-variant font-weight font-size/line-height font-family; ***/
        font: normal normal normal 16px/18px locator_regularregular;
        display: block;
        color: #4A4A4A;
        padding: 11px 0px;
        text-decoration: none !important;
    }

    #mega-menu .droplet .col a:focus,
    #mega-menu .droplet .col a:hover {
        background-color: #F8F8F8;
        color: #007741;
        padding-left: 4px;
        margin-right: -4px;
    }

    .col span:hover {
        cursor: default;
        text-decoration: none;
    }

    #mega-menu > li {
        list-style-type: none;
        display: inline-block;
        width: auto;
        vertical-align: middle;
        margin-right: 56px;
    }

    #mega-menu.ul {
        max-width: 800px;
    }

    #mega-menu > li > a {
        font: normal normal normal 12px/12px locator_regularregular;
        position: relative;
        padding: 7px;
        display: block;
        text-align: center;
        text-decoration: none !important;
        text-transform: uppercase;
        letter-spacing: .1em;
        color: #fff;
    }

    #mega-menu > li > a:focus,
    #mega-menu > li > a:hover {}

    #alignNav2 {
        margin: 0 auto;
    }

    /*** End Main Navigation ***/

    /*** CTA (call to action) Menu Navigation ***/

    #navCTA-group {
        float: left;
        line-height: normal;
        margin-top: 5px;
        width: auto;
    }

    #navCTA-group a {
        padding: 10px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 16px;
    }

    #navCTA-group .col-head {
        display: none;
    }

    #navCTA-group ul {
        margin-bottom: 0px;
    }

    #navCTA-group li {
        list-style-type: none;
        display: inline-block;
        margin: 0 16px;
    }

    .modal-wrapper .modal-content,
    .modal2-wrapper .modal2-content {
        margin: 0 auto;
        max-width: 800px;
    }



    .carousel-control-next,
    .carousel-control-prev {
        height: 55vw;
        max-height: 440px;
    }


    /*** End CTA (call to action) Menu Navigation ***/

}



@media only screen and (min-width:1681px) {
    /*** Set to control the variable width size from going too large  ***/

    #headText {
        font: normal 400 320px/316px "Knockout 47 A", "Knockout 47 B";
    }

    .headImgTextQuoLabel {
        font: normal normal 400 2em/1.2em locatorbold;
    }

    .blockQuoLink {
        font: normal normal 400 1.4em/1.2em locatorbold;
    }

    blockquote.headImgTextQuotes {
        font: normal normal 400 2.7em/1.25em locatorbold;
    }

    .textSection .sectionHeading {
        font: normal 400 140px/120px "Knockout 47 A", "Knockout 47 B";
    }

    .textSection h1.sectionHeading {
        font: normal 400 268px/240px "Knockout 47 A", "Knockout 47 B";
    }

    .ctaBoxes .ctaCard h4.ctaBoxHeading {
        font: normal normal 400 65px/65px "Knockout 47 A", "Knockout 47 B";
        margin: 10px 1vw 10px 1vw;

    }

    .infoBoxes .infoCard h4.infoBoxHeading {
        margin-top: -33%;
        /*        font: normal normal 400 68px/64px "Knockout 47 A", "Knockout 47 B";*/
    }

    .ctaBoxes div .ctaBoxDescription {
        margin: 0;
        padding: 10px 1vw 10px 1vw;
    }

    .ctaBoxes div .ctaBoxDescription p {
        font: normal normal normal 16px/22px locator_regularregular;
    }


    .infoBoxes div .infoBoxDescription {
        margin: 22px;
        padding: 22px;
    }
}
}