<div class="storyDetails-indAdditionalStories-imgWrapper">
  {{ content.field_featured_image }}
</div>
<div class="storyDetails-indAdditionalStories-title">
  <a id="plcmaincontent_3_rptAssociatedItems_hlStoryTitle_0" href="{{ url }}">{{ label }}</a>
</div>
{#
<div class="storyDetails-indAdditionalStories-type">
    <span id="plcmaincontent_3_rptAssociatedItems_lblTaxonomy_0">Real World Experience, Business, Schaumburg</span>
</div>
#}
<div class="storyDetails-indAdditionalStories-teaser">
  {{ content.body }}
</div>
