{% extends "@templates/00-layouts/01-page-1col.twig" %}
{% block hero %}
    {% if hero %}
        {% include "@organisms/header-carousel/header-carousel.twig" %}
    {% endif %}
{% endblock %}

{% block main %}
  <div class="row">
    {% for i in 0..3 %}

    <div class="col-md-4">
    </div>

    {% endfor %}

  </div>
{% endblock %}
