module.exports = {
  app: { basename: 'theme' },
  root: './',
  browserSync: {
    host: 'rooseveltedu.docksal',
    proxy: 'rooseveltedu.docksal'
  },
  assets: {
    src: 'app/',
    dest: 'dist/'
  },
  scripts: {
    src: 'app/scripts/',
    files: [
      'app/scripts/**/*.js'
    ],
    dest: 'dist/js/'
  },
  scss: {
    src: 'app/scss/',
    files: [
      'app/scss/*.scss',
      'app/scss/**/*.scss'
    ],
    dest: 'dist/css/',
    dest_file: 'scripts.js'
  },
  sass: {
    options: {
      outputStyle: 'expanded',
      sourceComments: 'true'
    }
  },
  fonts: {
    src: 'app/fonts/',
    files: [
      'app/fonts/**/*'
    ],
    dest: 'dist/fonts/'
  },
  images: {
    src: 'app/images/',
    files: [
      'app/images/**/*'
    ],
    dest: 'dist/images/'
  },
  theme: {
    files: [
      '**/*.yml',
      '**/*.twig',
      '*.theme'
    ]
  }
};
