/*
Website Name: Starter
Description: Landing/Home stylesheet
Version: 1.0
*/

/* ======================================================= */

/*    SECTION 1: Grand Display                             */

/* ======================================================= */

.center-lead-set {
        padding: 10px 32px 38px 32px;
}
.home-lead-content p {
    margin-bottom: 0px;
}

.landing-grandDisplay {
    width: 100%;
    top: 0;
    position: relative;
    padding: 80px 0;
    background-color: black;    
}

.landing-grandDisplay-contentContainer {
    height: 100%;
    z-index: 1;
}

.landing-grandDisplay-contentContainer-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.landing-grandDisplay-contentContainer-innerWrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

/*.landing-grandDisplay-messageContainer {
    display: none;
}*/

.landing-grandDisplay-messageContainer-logo {
    line-height: 0;
    display: none;
}

.landing-grandDisplay-messageContainer-logo img {
    width: 175px;
    height: auto;
}

.landing-grandDisplay-messageContainer-title {
    font-family: 'locatorbold';
    margin: 0;
    font-size: 30px;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.7), 0 8px 13px rgba(0, 0, 0, 0.2), 0 18px 23px rgba(0, 0, 0, 0.2);
}

.landing-grandDisplay-messageContainer-teaser {
    font-size: 12px;
    line-height: 1.5;
    margin: 20px 0 0;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.7), 0 8px 13px rgba(0, 0, 0, 0.2), 0 18px 23px rgba(0, 0, 0, 0.2);
}

.landing-grandDisplay-messageContainer-btnContainer {
    margin: 30px 0 0;
}

.landing-grandDisplay-messageContainer-btnContainer a {
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
}

/* Featured News on Home */
.home-FeaturedNews {
    padding: 50px 0 0;
    position: relative;
    width: 100%;
}
.home-titleContainer {
    color: #272727;
    position: relative;
}
.home-indEvent-title a {
    font-size: 19px;
}
.home-gridContainer .home-indEvent-title {
    line-height: 2em;
}
.home-indEventContainer {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 0;
    margin: 0 0 40px;
}
.home-gridContainer {
    font-size: 0;
    width: 100%;
    margin: 30px 0 0;
}
a.newsEvents-eventsViewAllContainer {
    text-decoration: none;
    display: inline-block;
    width: 200px;
    background: #6ebf4b url('images/greenHatch.png');
    padding: 20px 30px 17px;
    color: #fff;
    margin: 50px 0 24px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}

a.newsEvents-eventsViewAllContainer:hover {
    background: #272727;
}
.home-indEvent-dateWrapper {
    position: relative;
    background: #fff;
    display: inline-block;
    padding: 0 5px 0 0;
    top: 5px;
    font-family: 'locatormedium';
    font-size: 17px;
    line-height: 1.1;
}
.home-indEvent-dateContainer {
    border-bottom: 1px solid #6ebf4b;
    margin: 0 0 15px;
}
.home-gridNews-viewAllBtn {
    width: 100%;
    text-align: center;
}
.home-gridNews-viewAllBtn:before {
    content: '';
    height: 1px;
    border-top: 5px solid #6ebf4b;
    position: absolute;
    bottom: 48px;
    left: 0px;
    width: 100%;
    z-index: -1;
}


/*Carousel*/

.landing-grandDisplay-carouselContainer {
    width: 100%;
    position: absolute;
    top: 0;
}

.landing-grandDisplay-carouselContainer-wrapper {
    position: absolute;
    top: 0;
    z-index: 0;
}

.landing-grandDisplay-carouselContainer img.rsImg {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

/*Overlay*/

.landing-grandDisplay-overlay {
    background: url('images/diagonal-noise.png');
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* ======================================================= */

/*    SECTION 1b: REAL ESTATE LIST                              */

/* ======================================================= */

.proBlock {
    font-size: .9em;
    line-height: .9em;
    color: black;
    font-weight: normal;
}
.blockBio {
    min-height: 120px;
    padding: 12px 16px 22px 16px;
    float: left;
    border-bottom: 2px solid #999999;
    margin-bottom: 40px;
    width: 100%;
}
.realPhoto {
    float: left;
    padding: 6px 10px 16px 10px;
    background-color: #F7F7F7;
    margin: 0 26px 30px 0;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .1), 1px 1px 1px 1px rgba(0, 0, 0, .4);
}

.realPhoto img {
    width: 200px !important;
    height: 200px !important;
    margin-bottom: -22px;
}

.employer {
    font-weight: normal;
    font-size:16px;
    line-height: .8em;
}
.bioPicDetails {
    font-weight: bold;
    font-size: 18px;
    color: #555555;
    margin: 2px 0 10px 0;
    min-width: 200px;
    padding-right: 20px;
}
div.bioPicDetails em.profession {
    font-size: .9em;
    font-weight: normal;
}
h3.leaderRoll {
    text-transform: uppercase;
    float: left;
    width: 100%;
    margin-bottom: 32px;
    margin-top: 16px;
}

/* ======================================================= */

/*    SECTION 2: LEAD CONTENT                              */

/* ======================================================= */

video#bgvid, #pnlLandingLeadImgWrapper iframe, #plcmaincontent_0_pnlLandingLeadImgWrapper iframe {
    width: 100%;
    height: 100%;
    /*z-index: -100;*/
    position: absolute;
    top: 0;
}

video {
    display: block;
}

.landing-mainContainer {
    position: relative;
    z-index: 1;
    max-width:1920px;
    margin: 0 auto;
}

.landing-leadContainer {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    border-top: 8px solid #6ebf4b;
}

.landing-leadWrapper.imgBg .home-lead-quoteWrapper {
    background: #fff;
    text-align: left;
}

.landing-leadWrapper.imgBg .landing-lead-quoteWrapper {
    padding: 30px;
    background: #fff;
    text-align: left;
}

.landing-leadWrapper.imgBg .landing-lead-innerTitle {
    font-family: 'locatorbold';
    color: #272727;
    font-size: 30px;
}

.landing-leadWrapper.imgBg .landing-lead-content, .landing-leadWrapper.imgBg .home-lead-content {
    font-size: 18px;
    color: #454545;
    line-height: 1.3;
    margin: 15px 0 0;
}

.landing-leadWrapper.imgBg .home-lead-content {
    margin: 4px 0 0;
}

.landing-leadWrapper.imgBg .internal-headerTriangle {
        display: none;
}

.landing-leadWrapper.imgBg .landing-lead-ctaBtnContainer, .landing-leadWrapper.imgBg .home-lead-ctaBtnContainer {
    margin: 15px 0 0;
    text-transform: uppercase;
}

.landing-leadWrapper.imgBg .landing-lead-ctaBtnContainer a, .landing-leadWrapper.imgBg .home-lead-ctaBtnContainer a {
    color: white;
    display: inline-block;
    width: auto;
    text-align: center;
    border: 2px solid #6ebf4b;
    padding: 15px 20px 13px;
    font-size: 18px;
    font-family: 'locatorbold';
    text-decoration: none;
    cursor: pointer;
    background: url('images/greenHatch.png');
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1), 0  1px 1px 0 rgba(0, 0, 0, 0.2);
}

.landing-leadWrapper.imgBg .landing-lead-ctaBtnContainer a:hover, .landing-leadWrapper.imgBg .home-lead-ctaBtnContainer a:hover {
    border: 2px solid #6ebf4b;
    background: #fff;
    color: #2e7c48;
}

.landing-leadWrapper.imgBg .landing-lead-ImgWrapper {
    width: 100%;
    /*padding: 0;*/
    line-height: 0;
}

.landing-leadWrapper.imgBg .landing-lead-ImgWrapper img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.landing-leadWrapper.imgBg .landing-lead-ImgInnerWrapper {
    line-height: 0;
    overflow: hidden;
    height: 100%;
    display: inline-block;
    width: 100%;
}

.landing-leadBGreplace {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-color: #FFF;
    background-repeat: no-repeat;
    height: 100%;
}
.landing-lead-content p a {
    color: #6ebf4b;
}
.landing-lead-content p a:hover {
    color: #FFF;
}

.landing-lead-content ul li a:hover {
    color: #FFF;
}

.landing-lead-content .blockquoteTitle {
    font-family: 'locatorbold';
}

.landing-lead-content img {
    width: 40%;
    position: relative;
    float: right;
    margin-top: -150px;
}

.landing-lead-content blockquote {
    font-family: 'locatorlight_italic';
    margin-bottom: 25px;
}


/*Scroll Trigger*/

.landing-mainContainer-scrollTrigger {
    position: absolute;
    top: -130px;
    width: 100%;
    z-index: 30;
    text-align: center;
    opacity: 1;
    display: none;
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

/*Scroll Trigger*/

.landing-mainContainer-scrollTrigger.other {
    position: relative;
    margin: 50px 0 0;
    top: 0;
    width: 100%;
    z-index: 30;
    text-align: center;
    opacity: 1;
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.landing-mainContainer-scrollTrigger.landing {
    position: relative;
    width: 100%;
    z-index: 30;
    text-align: center;
    opacity: 1;
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.landing-mainContainer-scrollTrigger.scrollIn {
    opacity: 0;
    top: -8%;
}

.landing-mainContainer-scrollTrigger a {
    display: inline-block;
    opacity: .8;
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

.landing-mainContainer-scrollTrigger a:hover {
    opacity: 1;
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.25);
}

.landing-mainContainer-scrollTrigger img {
    width: 80px !important;
    height: auto;
    -moz-box-shadow: none 0 4px 4px rgba(0, 0, 0, .8), none 0 4px 4px rgba(0, 0, 0, .8);
    -webkit-box-shadow: none 0 4px 4px rgba(0, 0, 0, .8), none 0 4px 4px rgba(0, 0, 0, .8);
    box-shadow: none;

}

/* ======================================================= */

/*    SECTION 3: GRID (HOME)                               */

/* ======================================================= */

.landing-gridContainer.home {
    width: 100%;
    position: relative;
    background: url('images/dark-hatch.png');
}

.home .landing-gridInnerContainer {
    margin: 0 auto;
    padding: 0;
}

.home .landing-gridWrap {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.home .landing-gridCol1,
.home .landing-gridCol3 {
    display: block;
    width: 100%;
    padding: 50px 30px;
    color: #FFF;
}

.home .landing-gridCol2 {
    display: block;
    width: 100%;
    padding: 50px 30px;
    background: #fff;
}

.home .landing-gridTitle {
    font-family: 'locatorbold';
    font-size: 19px;
    margin: 0 0 30px;
    color: #FFF;
}

.home .landing-gridCol2 .landing-gridTitle {
    color: #272727;
}

.home .landing-gridImg {
    line-height: 0;
    margin: 0 0 30px;
}

.home .landing-gridImg img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.home .landing-gridTxt {
    margin: 0 0 25px;
    line-height: 1.6;
}

.home .landing-gridTxt p:last-of-type {
    margin: 0;
}

.home .landing-gridCtaContainer {}

.home .landing-gridCtaContainer a {
    display: inline-block;
    width: auto;
    text-align: center;
    border: 2px solid #6ebf4b;
    padding: 15px 15px 13px;
    font-size: 15px;
    font-family: 'locatorbold';
    color: #fff;
    margin: 0;
}

.home .landing-gridCtaContainer a:hover {
    border: 2px solid #6ebf4b;
    background: #2e7c48;
    color: #fff;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.home .landing-gridCol2 .landing-gridCtaContainer a {
    color: #2e7c48;
}

.home .landing-gridCol2 .landing-gridCtaContainer a:hover {
    color: #fff;
}

/*Ind Events*/

.landing-grid-indEventContainer {
    margin: 0 0 30px;
}

.landing-grid-indEventTitle {}

.landing-grid-indEventTitle a {
    font-family: 'locatorbold';
    font-size: 22px;
    margin: 0;
    color: #6ebf4b;
    display: inline-block;
}

.landing-grid-indEventTitle a:hover {
    color: #272727;
}

.landing-grid-indEventDate {
    font-family: 'locatorbold';
    font-size: 20px;
    margin: 5px 0 15px;
    position: relative;
}

.landing-grid-indEventDate span {
    background: #FFF;
    padding: 0 5px 0 0;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.landing-gridCol1 .landing-grid-indEventDate span,
.landing-gridCol3 .landing-grid-indEventDate span {
    background: #000;
    padding: 0 5px 0 0;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.landing-grid-indEventDate:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #6ebf4b;
    position: absolute;
    bottom: 4px;
}

.landing-grid-indEventAttribute {
    font-family: 'locatorbold_italic';
    font-size: 14px;
    margin: 0 0 5px;
}

.landing-grid-indEventTeaser {
    font-size: 13px;
    line-height: 1.6;
}

.landing-grid-eventCtaContainer {}

.landing-grid-eventCtaContainer a {
    display: inline-block;
    width: auto;
    text-align: center;
    border: 2px solid #6ebf4b;
    font-size: 15px;
    font-family: 'locatorbold';
    font-weight: normal;
    color: #6ebf4b;
    text-transform: uppercase;
    padding: 15px 15px 13px;
}

.landing-grid-eventCtaContainer a:hover {
    border: 2px solid #6ebf4b;
    background: #2e7c48;
    color: #fff;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

/* ======================================================= */

/*    SECTION 4: STORY                                     */

/* ======================================================= */

.landing-storyContainer {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    border-top: 8px solid #6ebf4b;
    z-index: 2;
}

.landing-storyWrapper.imgBg .landing-story-quoteContainer {}

.landing-storyWrapper.imgBg .landing-story-quoteWrapper {
    padding: 30px;
    background: #fff;
    text-align: left;
}

.landing-storyWrapper.imgBg .landing-story-quote {
    font-family: 'locatorlight_italic';
    font-size: 18px;
    color: #454545;
    line-height: 1.3;
}

.landing-storyWrapper.imgBg .landing-story-person {
    line-height: 1.4;
    font-size: 14px;
    font-family: 'locatorbold';
}

.landing-storyWrapper.imgBg .landing-story-personTitle {
    line-height: 1.4;
    font-size: 12px;
    font-family: 'locatormedium';
}

.landing-storyWrapper.imgBg .landing-story-ctaBtnContainer {
    margin: 15px 0 0;
    text-transform: uppercase;
}

.landing-storyWrapper.imgBg .landing-story-ctaBtnContainer a {
    display: inline-block;
    width: auto;
    text-align: center;
    border: 2px solid #6ebf4b;
    padding: 15px 15px 13px;
    font-size: 15px;
    font-family: 'locatorbold';
    color: #6ebf4b;
    margin: 10px 10px 0 0;
    background: url(images/diagonal-noise.png);
    text-decoration: none;
}

.landing-storyWrapper.imgBg .landing-story-ctaBtnContainer a:hover {
    border: 2px solid #6ebf4b;
    background: #2e7c48;
    color: #fff;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.landing-storyWrapper.imgBg .landing-story-sepContainer,
.landing-lead-content .landing-story-sepContainer {
    margin: 0 0 20px;
}

.landing-storyWrapper.imgBg .landing-story-sepContainer-icon,
.landing-lead-content .landing-story-sepContainer-icon {
    display: inline-block;
    vertical-align: middle;
    color: #6ebf4b;
    font-size: 17px;
}

.landing-storyWrapper.imgBg .landing-story-sepContainer-line,
.landing-lead-content .landing-story-sepContainer-line {
    display: inline-block;
    vertical-align: middle;
    width: 33.3333%;
    height: 1px;
    border-top: 1px solid #ccc;
}

.landing-storyWrapper.imgBg .landing-story-ImgWrapper {
    width: 100%;
    padding: 0;
    line-height: 0;
}

.landing-storyWrapper.imgBg .landing-story-ImgWrapper img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.landing-storyWrapper.imgBg .landing-story-ImgInnerWrapper {
    line-height: 0;
    overflow: hidden;
    height: 100%;
    display: inline-block;
    width: 100%;
}

.landing-storyBGreplace {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    background-color: #FFF;
    background-repeat: no-repeat;
    height: 100%;
}

/* ======================================================= */

/*    GENERAL                                              */

/* ======================================================= */


/*Triangle Overlay*/

.upper-content-container-triangles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 0;
    display: none;
}

.upper-content-container-triangle-container {
    display: inline-block;
    width: 50%;
    overflow: hidden;
}

.upper-content-container-triangle-container {
    vertical-align: bottom;
}

.upper-content-container-triangle-left,
.upper-content-container-triangle-right,
.upper-content-container-triangle-left {
    float: right;
    border-bottom: 50px solid #FFF;
    border-right: 100px solid transparent;
}

.upper-content-container-triangle-right {
    float: left;
    border-bottom: 50px solid #FFF;
    border-left: 100px solid transparent;
}

/* ======================================================= */

/*    HIGHLIGHT BOX GRID                                   */

/* ======================================================= */

.landing-highlightGrid-Container {
    padding: 1%;
    /*  background: #666 url('images/diagonal-noise.png'); border-bottom: 1px solid #666;*/
    position: relative;
    font-size: 0;
    z-index: 2;
}

#highlight-slider1,
#highlight-slider2,
#highlight-slider3,
#highlight-slider4,
#highlight-slider-mobile {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.highlightBoxGrid-container {
    width: 100%;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
}

/*Green Box*/

.highlightBoxGrid-container.green .highlightBoxGrid-wrapper {
    background: #6ebf4b;
}

.highlightBoxGrid-container.green .highlightBoxGrid-wrapper h3,
.highlightBoxGrid-container.green .highlightBoxGrid-wrapper h4,
.highlightBoxGrid-container.green .highlightBoxGrid-wrapper h5,
.highlightBoxGrid-container.green .highlightBoxGrid-wrapper h6 {
    color: #FFF;
}

.highlightBoxGrid-container.green .indBoxGrid-content {
    color: #FFF;
}

.highlightBoxGrid-container.green .indBoxGrid-btnContent a {
    background: #FFF;
    color: #6ebf4b;
    border: 2px solid #FFF;
}

.highlightBoxGrid-container.green .indBoxGrid-btnContent a:hover {
    background: none;
    color: #FFF;
    border: 2px solid #FFF;
}

.highlightBoxGrid-container.green a {
    color: #FFF;
}

.highlightBoxGrid-container.green a:hover {
    color: #000;
    text-decoration: underline;
}

/*White Box*/

.highlightBoxGrid-container.white .highlightBoxGrid-wrapper {
    background: #FFF;
}

.highlightBoxGrid-container.white .highlightBoxGrid-wrapper h3,
.highlightBoxGrid-container.white .highlightBoxGrid-wrapper h4,
.highlightBoxGrid-container.white .highlightBoxGrid-wrapper h5,
.highlightBoxGrid-container.white .highlightBoxGrid-wrapper h6 {
    color: #272727;
}

.highlightBoxGrid-container.white .indBoxGrid-content {
    color: #606060;
}

/*Dark Box*/

.highlightBoxGrid-container.dark .highlightBoxGrid-wrapper {
    background: #000;
}

.highlightBoxGrid-container.dark .highlightBoxGrid-wrapper h3,
.highlightBoxGrid-container.dark .highlightBoxGrid-wrapper h4,
.highlightBoxGrid-container.dark .highlightBoxGrid-wrapper h5,
.highlightBoxGrid-container.dark .highlightBoxGrid-wrapper h6 {
    color: #FFF;
}

.highlightBoxGrid-container.dark .indBoxGrid-content {
    color: #FFF;
}

.highlightBoxGrid-container.dark a {
    color: #6ebf4b;
}

.highlightBoxGrid-container.dark a:hover {
    color: #FFF;
}

.highlightBoxGrid-container.dark .indBoxGrid-btnContent a {
    background: #6ebf4b;
    color: #FFF;
    border: 2px solid #6ebf4b;
}

.highlightBoxGrid-container.dark .indBoxGrid-btnContent a:hover {
    background: none;
    color: #6ebf4b;
    border: 2px solid #6ebf4b;
}

.highlightBoxGrid-container.white .indBoxGrid-content img,
.highlightBoxGrid-container.green .indBoxGrid-content img,
.highlightBoxGrid-container.dark .indBoxGrid-content img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* ======================================================= */

/*    BOX GRID                                             */

/* ======================================================= */

.landing-boxGrid-Container {
    padding: 1%;
    background: #666 url('images/diagonal-noise.png');
    border-bottom: 1px solid #666;
    position: relative;
    font-size: 0;
    z-index: 2;
}

.landing-boxGridSide-Container {
    padding: 2px;
    background: #666 url('images/diagonal-noise.png');
    border-bottom: 1px solid #666;
    position: relative;
    font-size: 0;
    z-index: 2;
}

.indBoxGrid-container {
    width: 100%;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    padding: 2%;
}

.indBoxGridSide-container {
    width: 100%;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    padding: 2px;
}

.highlightBoxGrid-wrapper {
    display: table;
    width: 100%;
}

.highlightBoxGrid-wrapper.image {
    display: block;
}

.indBoxGrid-contentContainer {
    display: table-cell;
    vertical-align: top;
    padding: 30px;
}

.indBoxGridSide-contentContainer {
    display: table-cell;
    vertical-align: top;
    padding: 20px;
}

.indBoxGrid-contentContainer h2 {
    margin: 0 0 15px;
}

.indBoxGrid-contentContainer h3 {
    margin: 0 0 15px;
}

.indBoxGrid-contentContainer ul + h3 {
    margin-top: 15px;
}

.indBoxGridSide-contentContainer h3 {
    margin: 0 0 15px;
}

.indBoxGridSide-contentContainer ul + h3 {
    margin-top: 15px;
}

.indBoxGrid-content {
    line-height: 1.5;
}

.indBoxGrid-content p:last-of-type {
    margin: 0;
}

.indBoxGrid-btnContent {
    margin: 20px 0 0;
    text-transform: uppercase;
}

.indBoxGrid-btnContent a {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    padding: 14px;
	margin: 1vw 0vw;
    text-align: center;
    background: #007741;
    font-size: 17px;
    line-height: 17px;
    color: #fff;
    border: 2px solid #6ebf4b;
    text-decoration: none;
}

.indBoxGrid-btnContent a:hover {
    background: white;
    color: #2e7c48;
    border: 2px solid #6ebf4b;
}

.indBoxGrid-content ul {
    list-style: disc;
    margin: 0 0 20px 15px;
}

.indBoxGrid-content ul li ul {
    list-style: circle;
    margin: 0 0 20px 15px;
}

.indBoxGrid-content ul ul {
    list-style: circle;
    margin: 0 0 20px 15px;
}

.indBoxGrid-content ol {
    list-style: decimal;
    margin: 0 0 20px 15px;
}

.indBoxGrid-content p + ul,
.indBoxGrid-content p + ol {
    margin: 16px 0 20px 15px;
}

.indBoxGrid-gridImg {
    line-height: 0;
    margin: 0 0 15px;
}

.indBoxGrid-gridImg img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.indBoxGrid-indEventWrapper {
    display: inline-block;
    width: 100%;
    font-size: 14px;
}

.indBoxGrid-indEventWrapper.left {
    padding: 0;
}

.indBoxGrid-indEventWrapper.right {
    padding: 0;
    margin: 30px 0 0;
}

.indBoxGrid-indEventTitle {
    font-size: 16px;
}

.indBoxGrid-indEventTitle a {}

.indBoxGrid-indEventTitle a:hover {}

.indBoxGrid-indEventDate {
    font-family: 'locatorbold';
    font-size: 15px;
    color: #FFF;
    display: inline-block;
    position: relative;
    width: 100%;
    line-height: 1;
}

.indBoxGrid-indEventDate span {
    display: inline-block;
    background: #272727;
    padding: 0 5px 0 0;
    position: relative;
}

.indBoxGrid-indEventDate:before {
    border-bottom: 1px solid #6ebf4b;
    content: '';
    width: 100%;
    height: 1px;
    display: inline-block;
    position: absolute;
    bottom: 3px;
    left: 0;
}

.indBoxGrid-indEventAttribute {
    font-family: 'locatormedium_italic';
    font-size: 12px;
    color: #FFF;
}

.indBoxGrid-indEventImgReplace {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: #FFF;
    background-repeat: no-repeat;
}

/*Green Box*/

.indBoxGrid-container.green .indBoxGrid-wrapper {
    background: url('images/greenHatch.png');
}

.indBoxGrid-container.green .indBoxGrid-wrapper h2,
.indBoxGrid-container.green .indBoxGrid-wrapper h3,
.indBoxGrid-container.green .indBoxGrid-wrapper h4,
.indBoxGrid-container.green .indBoxGrid-wrapper h5,
.indBoxGrid-container.green .indBoxGrid-wrapper h6 {
    color: #FFF;
}

.indBoxGrid-container.green .indBoxGrid-content {
    color: #FFF;
}

.indBoxGrid-container.green .indBoxGrid-btnContent a {
    background: #555;
    color: #FFF;
    border: 2px solid #555;
}

.indBoxGrid-container.green .indBoxGrid-btnContent a:hover {
    background: none;
    color: #FFF;
    border: 2px solid #FFF;
}

.indBoxGrid-container.green a {
    color: #FFF;
    text-decoration: underline;
}

.indBoxGrid-container.green a:hover {
    color: #000;
    text-decoration: underline;
}

.indBoxGrid-container.green .indBoxGrid-btnContent a {
    text-decoration: none;
}


/*White Box*/

.indBoxGrid-container.white .indBoxGrid-wrapper {
    background: #FFF;
}

.indBoxGrid-container.white .indBoxGrid-wrapper h2,
.indBoxGrid-container.white .indBoxGrid-wrapper h3,
.indBoxGrid-container.white .indBoxGrid-wrapper h4,
.indBoxGrid-container.white .indBoxGrid-wrapper h5,
.indBoxGrid-container.white .indBoxGrid-wrapper h6 {
    color: #272727;
}

.indBoxGrid-container.white .indBoxGrid-content {
    color: #606060;
}

/*Dark Box*/

.indBoxGrid-container.dark .indBoxGrid-wrapper {
    background: none;
}

.indBoxGrid-container.dark .indBoxGrid-wrapper h2,
.indBoxGrid-container.dark .indBoxGrid-wrapper h3,
.indBoxGrid-container.dark .indBoxGrid-wrapper h4,
.indBoxGrid-container.dark .indBoxGrid-wrapper h5,
.indBoxGrid-container.dark .indBoxGrid-wrapper h6 {
    color: #FFF;
}

.indBoxGrid-container.dark .indBoxGrid-content {
    color: #FFF;
}

.indBoxGrid-container.dark a {
    color: #6ebf4b;
}

.indBoxGrid-container.dark a:hover {
    color: #FFF;
}

.indBoxGrid-container.dark .indBoxGrid-btnContent a {
    background-color: #007741;
    color: #FFF;
    padding: 14px;
	margin: 1vw 0vw;
    border: 2px solid white;
    display: inline-block;
    position: relative;
    background-color: rgba(5, 119, 65, .95);
    letter-spacing: .08em;
}

.indBoxGrid-container.dark .indBoxGrid-btnContent a:hover {
    background-color: rgba(97, 184, 83, 1);
    background-image: radial-gradient(50% 129%, rgba(97, 184, 83, .0) 29%, rgba(97, 184, 83, .22) 50%, rgba(0, 0, 0, .2) 100%);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .24);
    text-decoration: none;
    cursor: pointer;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);
}


/*BeginSide Box Grid*/

/*Green Box*/

.indBoxGridSide-container.green .indBoxGrid-wrapper {
    background: #6ebf4b;
}

.indBoxGridSide-container.green .indBoxGrid-wrapper h3,
.indBoxGridSide-container.green .indBoxGrid-wrapper h4,
.indBoxGridSide-container.green .indBoxGrid-wrapper h5,
.indBoxGridSide-container.green .indBoxGrid-wrapper h6 {
    color: #FFF;
}

.indBoxGridSide-container.green .indBoxGrid-content {
    color: #FFF;
}

.indBoxGridSide-container.green .indBoxGrid-btnContent a {
    background: #FFF;
    color: #6ebf4b;
    border: 2px solid #FFF;
}

.indBoxGridSide-container.green .indBoxGrid-btnContent a:hover {
    background: none;
    color: #FFF;
    border: 2px solid #FFF;
}

.indBoxGridSide-container.green a {
    color: #FFF;
}

.indBoxGridSide-container.green a:hover {
    color: #000;
    text-decoration: underline;
}

/*White Box*/

.indBoxGridSide-container.white .indBoxGrid-wrapper {
    background: #FFF;
}

.indBoxGridSide-container.white .indBoxGrid-wrapper h3,
.indBoxGridSide-container.white .indBoxGrid-wrapper h4,
.indBoxGridSide-container.white .indBoxGrid-wrapper h5,
.indBoxGridSide-container.white .indBoxGrid-wrapper h6 {
    color: #272727;
}

.indBoxGridSide-container.white .indBoxGrid-content {
    color: #606060;
}

/*Dark Box*/

.indBoxGridSide-container.dark .indBoxGrid-wrapper {
    background: none;
}

.indBoxGridSide-container.dark .indBoxGrid-wrapper h3,
.indBoxGridSide-container.dark .indBoxGrid-wrapper h4,
.indBoxGridSide-container.dark .indBoxGrid-wrapper h5,
.indBoxGridSide-container.dark .indBoxGrid-wrapper h6 {
    color: #FFF;
}

.indBoxGridSide-container.dark .indBoxGrid-content {
    color: #FFF;
}

.indBoxGridSide-container.dark a {
    color: #6ebf4b;
}

.indBoxGridSide-container.dark a:hover {
    color: #FFF;
}

.indBoxGridSide-container.dark .indBoxGrid-btnContent a {
    background: #6ebf4b;
    color: #FFF;
    border: 2px solid #6ebf4b;
}

.indBoxGridSide-container.dark .indBoxGrid-btnContent a:hover {
    background: none;
    color: #6ebf4b;
    border: 2px solid #6ebf4b;
}

/*END Side Box Grid*/

/* ======================================================= */

/*    MORE IN SECTION                                      */

/* ======================================================= */

.landing-moreSection-container {
    background: #ededed;
    text-align: left;
    padding: 40px 0;
    position: relative;
    z-index: 2;
}

.landing-moreSection-titleContainer {
    display: inline-block;
    position: relative;
    width: 100%;
    line-height: 1;
}

.landing-moreSection-titleContainer h2 {
    display: inline-block;
    background: #ededed;
    padding: 0 10px 0 0;
    position: relative;
}

.landing-moreSection-titleContainer:before {
    border-bottom: 1px solid #2e7c48;
    content: '';
    height: 1px;
    display: inline-block;
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    top: 50%;
}

.landing-moreSection-teaserContainer {
    margin: 20px 0 0;
}

.landing-moreSection-listContainer {
    font-size: 0;
}

.landing-moreSection-listContainer li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0 20px 0 0;
    text-align: left;
    margin: 20px 0 0;
    font-size: 18px;
    font-weight: bold;
}

/* ======================================================= */

/*    Split Grid                                           */

/* ======================================================= */

.landing-splitGrid-container {
    background: #666 url('images/diagonal-noise.png');
    -moz-box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, .4), inset 0 -8px 8px -8px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, .4), inset 0 -8px 8px -8px rgba(0, 0, 0, .4);
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, .4), inset 0 -8px 8px -8px rgba(0, 0, 0, .4);
    position: relative;
    border-top: 1px solid #6ebf4b;
    z-index: 2;
}

.landing-splitGrid-wrapper {
    display: block;
    width: 100%;
}

.landing-splitGrid-content-container {
    display: block;
    width: 100%;
    padding: 50px 30px;
}

.landing-splitGrid-image-container {
    display: block;
    width: 100%;
    padding: 0;
    line-height: 0;
    position: relative;
}

.landing-splitGrid-image-container img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.landing-splitGrid-content-container h2 {
    color: #FFF;
    position: relative;
    display: inline-block;
    padding: 0 10px 0 0;
    margin: 0 0 20px;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.landing-splitGrid-content-teaser {
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
}

.landing-splitGrid-content-teaser p:last-of-type {
    margin: 0;
}

.landing-splitGrid-btn-container {
    display: block;
    margin: 25px 0 0;
    text-transform: uppercase;
}

.landing-splitGrid-btn-container a {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    padding: 13px 17px 10px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border: 2px solid #FFF;
    cursor: pointer;
    background-color: rgba(5, 119, 65, .95);
}

.landing-splitGrid-btn-container a:hover {
    background-color: rgba(97, 184, 83, 1);
    background-image: radial-gradient(50% 129%, rgba(97, 184, 83, .0) 29%, rgba(97, 184, 83, .22) 50%, rgba(0, 0, 0, .2) 100%);
}


.landing-splitGrid-imageReplace {
    width: 100%;
    height: 100%;
    min-height: 550px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: #FFF;
    background-repeat: no-repeat;
}

/* ======================================================= */

/*    MEDIA QUERIES                                        */

/* ======================================================= */


@media all and (max-width: 600px) {
    .realPhoto {
        width: 100%;
        margin: 0px 26px 20px -8px;
    }
}

@media all and (min-width: 600px) {
    
    /* Featured News on Home */
    .home-FeaturedNews {
        padding: 35px 0 0 0;
    }
    .home-indEvent-title a {
        font-size: 22px;
    }
    
    /*Section 1*/
    .landing-grandDisplay-messageContainer-logo img {
        width: 250px;
    }

    .landing-grandDisplay-messageContainer-title {
        font-size: 44px;
    }

    .landing-grandDisplay-messageContainer-teaser {
        font-size: 15px;
    }

    .landing-grandDisplay-messageContainer-btnContainer {
        margin: 40px auto 0;
        width: 60%;
    }

    /*Section 2*/
    .landing-leadWrapper {
        margin: 0;
        display: inline-block;
        height: 100%;
        width: 100%;
    }

    .landing-leadWrapper.imgBg .landing-lead-quoteWrapper {
        padding: 40px;
    }

    .landing-mainContainer-scrollTrigger img {
        width: 60px;
    }

    .landing-lead-content img {
        margin-top: -180px;
    }


    /*Section 3*/
    .home .landing-gridCol1,
    .home .landing-gridCol2,
    .home .landing-gridCol3 {
        padding: 80px 40px;
    }

    .home .landing-gridTitle {
        font-size: 26px;
    }

    /*Section 4 - Story*/
    .landing-storyWrapper {
        margin: 0;
        /*display: inline-block;*/
        height: 100%;
    }

    .landing-storyWrapper.imgBg .landing-story-quoteWrapper {
        padding: 40px;
    }

    /*Highlight Box Grid*/
    .landing-highlightGrid-Container {
        padding: .75%;
    }

    #highlight-slider1,
    #highlight-slider2,
    #highlight-slider3,
    #highlight-slider4 {
        width: 50%;
    }

    /*Box Grid*/
    .landing-boxGrid-Container {
        padding: .75%;
    }

    .indBoxGrid-container {
        width: 50%;
        padding: 1.5%
    }

    .indBoxGridSide-container {
        width: 50%;
    }

    .indBoxGrid-contentContainer {
        padding: 40px;
    }

    /*More Section*/

    .landing-moreSection-listContainer li {
        width: 50%;
        margin: 30px 0 0;
    }

    /*Need Help*/
    .landing-splitGrid-content-container {
        padding: 50px 40px;
    }

    .landing-splitGrid-content-container h2 {
        font-size: 40px;
    }
}

@media all and (min-width: 840px) {

    /*Section 1*/
    .landing-grandDisplay-messageContainer-btnContainer {
        margin: 40px 0 0;
        width: 100%;
    }

    .landing-grandDisplay-messageContainer-btnContainer a {
        margin: 5px;
    }

    /*Box Grid*/
    .indBoxGrid-indEventWrapper {
        display: inline-block;
        width: 50%;
        font-size: 14px;
    }

    .indBoxGrid-indEventWrapper.left {
        padding: 0 15px 0 0;
    }

    .indBoxGrid-indEventWrapper.right {
        padding: 0 0 0 15px;
        margin: 0;
    }
}

@media all and (min-width: 960px) {

    /* Featured News on Home */
    .home-titleContainer {
        text-align: center;
    }
    .home-indEventContainer {
        display: inline-block;
        width: 33.3333%;
        vertical-align: top;
        padding: 0 40px;
        margin: 0;
    }
    .home-indEvent-dateWrapper {
        top: 6px;
        font-size: 20px;
    }

    /*Highlight Box Grid*/
    #highlight-slider-mobile {
        display: none;
    }

    /*Section 1*/
    h1.heroText {
        color: #FFFFFF;
    }

    .landing-grandDisplay {
        padding: 120px 0;
    }

    .landing-grandDisplay-messageContainer-logo img {
        width: 300px;
    }

    .landing-grandDisplay-messageContainer-title {
        margin: 0;
        font-size: 55px;
    }

    .landing-grandDisplay-messageContainer-teaser {
        font-size: 18px;
    }

    .landing-grandDisplay-messageContainer-btnContainer {
        margin: 50px 0 0;
    }

    /*Section 2*/

    .landing-leadWrapper.imgBg .landing-lead-quoteContainer, .landing-leadWrapper.imgBg .home-lead-quoteContainer {
        display: block;
        position: relative;
        bottom: 0;
        z-index: 2;
        width: 100%;
    }

    .landing-leadWrapper.imgBg .home-lead-quoteContainer {
        padding-top: 320px;
    }

    .landing-leadWrapper.imgBg .landing-lead-quoteWrapper {
        width: 50%;
        float: right;
        margin: 110px 0;
        padding: 50px;
        text-align: left;
        background: rgba(0, 0, 0, .85);
    }
    
    .landing-leadWrapper.imgBg .home-lead-quoteWrapper {
        background: rgba(0, 0, 0, .85);
    }

    .landing-leadWrapper.imgBg .landing-lead-ImgWrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }

    .landing-leadWrapper.imgBg .landing-lead-ImgWrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .landing-leadWrapper.imgBg .landing-lead-innerTitle {
        color: #FFF;
        font-size: 40px;
    }

    .landing-leadWrapper.imgBg .landing-lead-content, .landing-leadWrapper.imgBg .home-lead-content {
        font-family: 'locatormedium';
        line-height: 1.8;
        font-size: 18px;
        color: #FFF;
    }

    .landing-leadWrapper.imgBg .landing-lead-ctaBtnContainer a, .landing-leadWrapper.imgBg .home-lead-ctaBtnContainer a {
        color: #FFF;
    }

    .landing-lead-content .blockquoteTitle {
        background-image: url(/~/media/Images/1716x723-WeRU/WeRU-03.ashx);
        display: block;
        width: 100%;
        background-size: 300px auto;
        background-repeat: no-repeat;
        height: 150px;
        background-position: right 40px;
    }

    .landing-lead-content img {
        display: none;
    }

    .landing-lead-content .blockquoteTitle {
        font-size: 20px;
    }

    .landing-lead-content blockquote {
        margin-bottom: 25px;
        font-size: 21px;
        line-height: 1.3;
    }

    /*Section 4 - Story*/
    .landing-storyWrapper.imgBg .landing-storyInnerWrapper {}

    .landing-storyWrapper.imgBg .landing-story-quoteContainer {
        display: block;
        position: relative;
        bottom: 0;
        z-index: 2;
        width: 100%;
        padding: 40px;
    }

    .landing-storyWrapper.imgBg .landing-story-quoteWrapper {
        width: 50%;
        float: right;
        margin: 110px 0;
        padding: 50px;
        text-align: left;
        background: #272727;
        background: rgba(0, 0, 0, .8);
    }

    .landing-storyWrapper.imgBg .landing-story-ImgWrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }

    .landing-storyWrapper.imgBg .landing-story-person:before {
        margin: 15px auto;
    }

    .landing-storyWrapper.imgBg .landing-story-quote {
        font-size: 18px;
        color: #FFF;
    }

    .landing-storyWrapper.imgBg .landing-story-person {
        font-size: 20px;
        color: #FFF;
    }

    .landing-storyWrapper.imgBg .landing-story-personTitle {
        font-size: 15px;
        color: #FFF;
    }

    .landing-storyWrapper.imgBg .landing-story-sepContainer-line {
        border-top: 1px solid #fff;
        border-top: 1px solid rgba(255, 255, 255, .4);
    }

    .landing-storyWrapper.imgBg .landing-story-ctaBtnContainer a {
        color: #fff;
    }

    /*More Section*/
    .landing-moreSection-container {
        text-align: center;
        padding: 80px 0;
    }

    .landing-moreSection-titleContainer {
        max-width: 960px;
    }

    .landing-moreSection-titleContainer h2 {
        padding: 0 10px 0;
    }

    .landing-moreSection-listContainer li {
        width: 33.333%;
        padding: 0 20px;
        text-align: center;
    }

    /*Need Help*/
    .landing-splitGrid-wrapper {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .landing-splitGrid-content-container {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        padding: 50px 7% 50px 50px;
    }

    .landing-splitGrid-image-container {
        display: table-cell;
        vertical-align: top;
        width: 50%;
        height: 100%;
        padding: 0;
        line-height: 0;
        position: relative;
    }
}

@media all and (min-width: 1024px) {

    /*Section 2*/
    .landing-leadWrapper.imgBg .landing-lead-innerTitle {
        font-size: 50px;
    }

    /*More Section*/
    .landing-moreSection-listContainer li {
        width: 25%;
    }
}

@media all and (min-width: 1200px) {

    /* Featured News on Home */
    .home-gridContainer {
        margin: 55px 0 0;
    }
    .home-indEvent-dateWrapper {
        top: 7px;
        font-size: 24px;
    }

    /*Section 1*/
    .landing-grandDisplay {
        position: fixed;
        padding: 0;
    }

    .landing-grandDisplay-messageContainer-logo {
        display: block;
    }

    .landing-grandDisplay-messageContainer-title {
        margin: 50px 0 0;
    }

    .landing-grandDisplay.other .landing-grandDisplay-contentContainer-innerWrapper {
        padding: 145px 0 0;
    }

    .landing-mainContainer-scrollTrigger {
        display: block;
    }
    
    .center-lead-set {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0;
    }
    
    .home-lead-content p {
        margin: 0;
        max-width: 720px;
        line-height: 1.3em;
    }

    /*Section 2*/
    .landing-leadContainer {
        padding: 160px 0 0;
        border-top: none;
    }

    .landing-leadWrapper.imgBg .landing-lead-quoteContainer {
        width: 86%;
        left: 50%;
        padding: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .landing-leadWrapper.imgBg .home-lead-quoteContainer {
        padding: 0px;
        position: absolute;
    }

    .landing-leadWrapper.imgBg .home-lead-quoteWrapper {
        width: 100%;
        margin: 0 auto;
        padding-top: 10px;
        min-height: 200px;
    }

    .home-lead-quoteWrapper {
        text-align: center;
    }
    
    .landing-leadWrapper.imgBg .home-lead-title, .landing-leadWrapper.imgBg .home-lead-content {
        margin: 0 auto;
        float: left;
        text-align:left;
    }

    .landing-leadWrapper.imgBg .home-lead-ctaBtnContainer {
        max-width: 240px;
        float: right;
        margin: -40px 0 0 36px;
    }

    .upper-content-container-triangles, .landing-leadWrapper.imgBg .internal-headerTriangle {
        display: block;
    }

    .landing-leadWrapper.imgBg .landing-lead-ImgWrapper img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .landing-leadBGreplace {
        background-position: center;
    }

    /*Section 3*/
    .landing-gridContainer.home {
        border-top: 2px solid #6ebf4b;
        border-bottom: 2px solid #6ebf4b;
    }
    
    .home .landing-gridInnerContainer {
        width: 86%;
        padding: 0;
    }

    .home .landing-gridCol1 {
        display: table-cell;
        vertical-align: top;
        width: 32%;
        padding: 90px 50px 90px 0;
        text-align: right;
    }

    .home .landing-gridCol2 {
        display: table-cell;
        vertical-align: top;
        width: 36%;
        padding: 90px 50px;
    }

    .home .landing-gridCol3 {
        display: table-cell;
        vertical-align: top;
        width: 32%;
        padding: 90px 0 90px 50px;
        text-align: left;
    }

    .home .landing-gridImg {
        border-bottom: 8px solid #6ebf4b;
    }

    /*Section 4 - Story*/
    .landing-storyContainer {
        border-top: none;
    }

    .landing-storyWrapper.imgBg .landing-story-quoteContainer {
        width: 86%;
        left: 50%;
        padding: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .landing-storyWrapper.imgBg .landing-story-quote {
        font-size: 21px;
    }

    .landing-storyWrapper.imgBg .landing-story-person:before {
        margin: 20px auto;
    }

    /*Highlight Box Grid*/
    .landing-highlightGrid-Container {
        padding: .25%;
    }

    #highlight-slider1,
    #highlight-slider2,
    #highlight-slider3,
    #highlight-slider4 {
        width: 25%;
    }

    /*Box Grid*/
    .landing-boxGrid-Container {
        padding: .25%;
    }

    .indBoxGrid-container {
        width: 33.3333%;
        padding: .5%
    }

    .indBoxGridSide-container {
        width: 100%;
    }

    .indBoxGrid-contentContainer {
        padding: 50px;
    }

    /*More Section*/
    .landing-moreSection-container {
        padding: 100px 0;
    }

    .landing-moreSection-listContainer li {
        width: 20%;
    }
}


/* ======================================================= */

/*    SECTION: RA INTRODUCTIONS PAGE                       */

/* ======================================================= */

.raGroup {
    display: grid;
    grid-template-columns: auto auto auto;
    column-count: 3;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}


#raPresent {
    padding: 40px 0;
    color: green;
}

.raGroup h3 {
    padding: 10px 0;
}

.raGroup h4 {
    padding: 10px 0;
    color: green;
    border-bottom: 1px solid green;
}

.meetRA {
    min-width: 180px;
    min-height: 180px;
    max-width: 300px;
    padding: 10px;
    margin: 10px;
}

span.raMajor {
    color: grey;
    font-size: .7em;
}

span.raMajor::before {
    content: "";
    display: block;
}

.raLetter {
    font-size: .83em;
    margin-top: 220px;
}

a.raLetter {
    margin-top: 220px;
}


/* ======================================================= */

/*    SECTION: FORMPAGE Table styles*/

/* ======================================================= */


fieldset .form_label legend {
    font-size: 1em !important;
    color: #FFFFFF !important;
    box-sizing: border-box !important;
    display: table-cell!important;
    width: 140px!important;
    vertical-align: top  !important;
    margin-bottom: 22px;
}

div.action button.default {
    background-color: #6ebf4b !important;
    font-weight: bold;
    font-size:1.8em !important;
    margin: 30px 10px!important;
    width: 98% !important;
}
fieldset .form_label {
    font-size: 1em !important;
    color: #FFFFFF !important;
    display: table-cell!important;
    vertical-align: top  !important;
}


div.form_page select,
div.form_page input,
div.form_page textarea {
    display: block !important;
    width: 100% !important;
}

div.form_h1 .form_label {
    font-size: 1.7em !important;
    color: #6ebf4b !important;
    margin-bottom: 24px !important;
}

.AskUsmodal-content {
    background-color: black !important;
    overflow-y: visible;
}

h2#textAskUs {
    color: #6ebf4b !important;
    margin-bottom: 24px !important;
}

.form_responses #form_8b83ef27-e643-415a-b4af-b42e28ce38b0_m, .form_responses #form_8b83ef27-e643-415a-b4af-b42e28ce38b0_d, .form_responses #form_8b83ef27-e643-415a-b4af-b42e28ce38b0_y { width:30% !important; float: left; }

div#form_question_2a2449c1-a86c-4330-9eda-46a662362b8b {
    color: #6ebf4b !important;
    margin: 28px 0 !important
 }


fieldset .form_responses { width: 100%; }
/* ======================================================= */

/*    SECTION: MEDIA QUERIES BEGIN                       */

/* ======================================================= */


@media only screen and (max-width: 719px) {
    .raGroup {
        display: block;
        grid-template-columns: auto;
        column-count: 1;
    }
}

@media only screen and (min-width: 720px) and (max-width: 959px) {
    .raGroup {
        display: grid;
        grid-template-columns: auto auto;
        column-count: 2;
    }
}


@media all and (min-width: 1400px) {

    /*Section 3*/
    .home .landing-gridCol1 {
        padding: 110px 60px 110px 0;
    }

    .home .landing-gridCol2 {
        padding: 110px 60px;
    }

    .home .landing-gridCol3 {
        padding: 110px 0 100px 60px;
    }
}

@media all and (min-width: 1430px) {
    .landing-leadWrapper.imgBg .landing-lead-ImgWrapper img {
        width: 100%;
        height: auto;
        object-fit: fill;
    }

}

@media all and (min-width: 1600px) {

    /* Featured News on Home */
    .home-indEvent-title a {
        font-size: 27px;
    }

    /*Section 2*/
    .landing-leadBGreplace {
        background-attachment: fixed;
        border-bottom: 15px solid rgba(0, 0, 0, .2);
        border-top: 15px solid rgba(0, 0, 0, .2);
        background-position: 0 75px;
    }

    /*Section 3*/
    .home .landing-gridCol1 {
        padding: 110px 70px 110px 0;
    }

    .home .landing-gridCol2 {
        padding: 110px 70px;
    }

    .home .landing-gridCol3 {
        padding: 110px 0 100px 70px;
    }

    /*Section 4*/
    .landing-storyBGreplace {
        background-attachment: fixed;
        border-bottom: 15px solid rgba(0, 0, 0, .2);
        border-top: 15px solid rgba(0, 0, 0, .2);
    }
}

@media all and (min-width: 3000px) {

    .landing-leadWrapper.imgBg .home-lead-ctaBtnContainer {
        right: 21%;
    }

    .landing-leadWrapper.imgBg .home-lead-title, .landing-leadWrapper.imgBg .home-lead-content {
        max-width: 45%;
    }
}

@media only screen and (max-width: 959px) {

    /*Section 2*/
    .landing-leadWrapper,
    .landing-leadContainer {
        height: auto !important;
    }

    /*Section 4*/
    .landing-storyWrapper,
    .landing-storyContainer {
        height: auto !important;
    }
}

@media only screen and (max-width: 1199px) {

    /*Section 1*/
    .landing-XXXContainer .landing-grandDisplayWrapping,
    .landing-grandDisplay {
        height: auto !important;
    }

    .parallax {
        transform: translateY(0px) !important;
    }

    .landing-mainContainer {
        margin-top: 0 !important;
    }

    .landing-leadInnerWrapper {
        min-height: auto !important;
    }
}


@media only screen and (max-width: 960px) {
    #highlight-slider1,
    #highlight-slider2,
    #highlight-slider3,
    #highlight-slider4 {
        display: none;
    }
    .center-lead-set {
        padding: 20px 22px 28px 22px;
}
}