{#
/**
 * @file
 * Theme override to display a block.
 *
 */
#}
{%
  set classes = [
    'programDetails-panel2-intro-colLeft-imgCaption',
  ]
%}
<div{{ attributes.addClass(classes) }}>
{% block content %}
  {{ content }}
{% endblock %}
</div>
