{#
/**
 * @file
 * Theme override for a menu block.
 *
 * Available variables:
 * - content: The content of this block.
 */
#}
{# Menu. #}

<div id="navCTA-group" class="col">
  {{ title_prefix }}
  {{ title_suffix }}
  <span class="col-head">
    Get Started
    <span class="openChild">
      <span class="openChildInner"></span>
    </span>
  </span>

  {% block content %}
    {{ content }}
  {% endblock %}
</div>
