{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - content: The content of this block.
 *
 * @see template_preprocess_block()
 */
#}

{% block content %}
<div id="footerStatement">
  {{ title_prefix }}
  {{ title_suffix }}
  {{ content }}
</div>
{% endblock %}
