.content-moderation-entity-moderation-form {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;

  .entity-moderation-form {
    padding-right: 1em;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
