{#
/**
 * @file
 * Theme override for a field.
 *
 */
#}
<div class="programDetails-panel2-intro-colRight-startTerm">
  <span>Start Term:</span>
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
</div>
