<div id="headImgText">
    <div id="headText"><span class="animUnderline animMark">YOU BELONG</span> HERE</div>

    <div class="img-box" tabindex="0">
        <img src="https://content.roosevelt.edu/-/media/Images/nonstandard-sizes/student1">
        <div class="overlay">
            <div class="carousel-caption d-md-block">
                <blockquote class="headImgTextQuotes">In December, I will proudly become the first in my family to receive a bachelor’s degree when I graduate from Roosevelt.</blockquote>
                <p class="headImgTextQuoLabel">
                    Monica Acosta<br>
                    Business, BSBA '19
                </p>
                <div class="blockQuoLink"><a href="#">Follow Monica's Journey</a></div>
            </div>
        </div>
    </div>
    <div class="img-box" tabindex="0">
        <img src="https://content.roosevelt.edu/-/media/Images/nonstandard-sizes/student2">
        <div class="overlay">
            <div class="carousel-caption d-md-block">
                <blockquote class="headImgTextQuotes">In December, I will proudly become the first in my family to receive a bachelor’s degree when I graduate from Roosevelt.</blockquote>
                <p class="headImgTextQuoLabel">
                    Monica Acosta<br>
                    Business, BSBA '19
                </p>
                <div class="blockQuoLink"><a href="#">Follow Monica's Journey</a></div>
            </div>
        </div>
    </div>
    <div class="img-box" tabindex="0">
        <img src="https://content.roosevelt.edu/-/media/Images/nonstandard-sizes/student3">
        <div class="overlay">
            <div class="carousel-caption d-md-block">
                <blockquote class="headImgTextQuotes">In December, I will proudly become the first in my family to receive a bachelor’s degree when I graduate from Roosevelt.</blockquote>
                <p class="headImgTextQuoLabel">
                    Monica Acosta<br>
                    Business, BSBA '19
                </p>
                <div class="blockQuoLink"><a href="#">Follow Monica's Journey</a></div>
            </div>
        </div>
    </div>
    <div class="img-box" tabindex="0">
        <img src="https://content.roosevelt.edu/-/media/Images/nonstandard-sizes/student4">
        <div class="overlay">
            <div class="carousel-caption d-md-block">
                <blockquote class="headImgTextQuotes">In December, I will proudly become the first in my family to receive a bachelor’s degree when I graduate from Roosevelt.</blockquote>
                <p class="headImgTextQuoLabel">
                    Monica Acosta<br>
                    Business, BSBA '19
                </p>
                <div class="blockQuoLink"><a href="#">Follow Monica's Journey</a></div>
            </div>
        </div>
    </div>
</div>